.widget {
    list-style-type: none;
    color: #f5f5f5;
    border-radius: 7%;
    padding: 1vh 0.75vw;
    margin: 2.5vh 0.7vw 0;
    float: left;
    height: 21vh;
    width: 16.7vw;
    cursor: pointer;
}
.widget:active {
    filter: brightness(120%);
    transform: scale(1.08);
    transition: all 0.3s;
}
.widget h1 {
    margin: 0;
    font-size: 2.4vh;
    font-weight: normal;
}
.widget .icon {
    font-size: 11vh;
    margin: 2vh 0 0 6.1vw;
}
.widget .details {
    font-size: 2vh;
    margin-top: 2vh;
}
.widget .details svg {
    margin-right: 0.4vw;
}
.widget.x2 {
    width: 36.3vw;
    border-radius: 3.5% / 7%;
}
.widget.x2 .icon {
    margin-left: 15.5vw;
}
.widget.dim .icon {
    opacity: 0.5;
}
