.widget {
    list-style-type: none;
    color: #f5f5f5;
    border-radius: 7%;
    padding: 1vh 0.75vw;
    margin: 2.5vh 0.7vw 0;
    float: left;
    height: 21vh;
    width: 16.7vw;
    cursor: pointer;
    user-select: none;
}
.widget:active {
    filter: brightness(120%);
    transform: scale(1.08);
    transition: all 0.3s;
}
.widget h1,
.widget .icon,
.widget .details {
    position: absolute;
}
.widget h1 {
    width: 16.4vw;
    margin: 0;
    font-size: 2.4vh;
    font-weight: normal;
}
.widget .icon {
    font-size: 11vh;
    margin: 5vh 0 0 6.1vw;
    transition: opacity 0.3s;
}
.widget .details {
    font-size: 2vh;
    margin-top: 18vh;
    width: 16.5vw;
}
.widget .details svg {
    margin-right: 0.4vw;
}
.widget.x2 {
    width: 36.3vw;
    border-radius: 3.5% / 7%;
}
.widget.x2 .icon {
    margin-left: 15.5vw;
}
.widget.dim .icon {
    opacity: 0.3;
}
.widget.loading .icon {
    opacity: 0;
}
.loader-bars {
    position: absolute;
    opacity: 0;
    margin: 8vh 0 0 7.25vw;
    height: 10vh;
    width: 2vw;
    background-color: rgb(200,200,200);
    transition: opacity 0.3s;
}
.loading .loader-bars {
    opacity: 0.3;
    animation: rectpulse infinite 1s ease-in-out -.2s;
}
.loader-bars:before,
.loader-bars:after {
    position: absolute;
    height: 10vh;
    width: 2vw;
    content: '';
    background-color: rgb(200,200,200);
}
.loader-bars:before {
    left: -3vw;
}
.loader-bars:after {
    right: -3vw;
}
.loading .loader-bars:before {
    animation: rectpulse infinite 1s ease-in-out -.4s;
}
.loading .loader-bars:after {
    animation: rectpulse infinite 1s ease-in-out;
}
@keyframes rectpulse {
    0%, 80%, 100% {
        height: 7vh;
        box-shadow: 0 0 rgb(200,200,200);
    }
    40% {
        height: 10vh;
        box-shadow: 0 -20px rgb(200,200,200);
    }
}